# Data Science Tools and Ecosystem

### This notebook is a summary of Data Science Tools and Ecosystem

### Objectives:
* List popular languages for Data Science
* Commonly used Data Science libaries
* Arithematic expressions

Most popular Data Science languages:
1. Python
2. R
3. Scala
4. SQL
5. Julia
6. Go

Some of the commonly used Data Science libaries are:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. Seaborn
6. TensorFlow
7. Keras
8. SciPy
9. Plotly
10. PyTorch

 | Data Science Tools |  
 |-----------------   | 
 | Jupyter Notebook   |  
 | R Studio           |  
 | Zeppelin Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

3 + 2
2*3
5/2
2**3

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Sreelekha